@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #eee;
    height: auto;
}

h1{
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
}

h2{
    font-weight: 600;
    font-size: 2rem;
    text-transform: capitalize;
    margin: 0;
    text-align: center;
}

main{
    max-width: 1024px;
    /* height: 40vw; */
    margin: auto; 
    background: #fff;
    box-shadow: 30px 0px 40px rgba(0,0, 0, 0.2), -30px 0px 40px rgba(0, 0, 0, 0.2); 
}

#header{
    background-color: #333;
    width: 100%;
}

#header p{
    font-size: 4rem;
    text-align: center;
    color: #fff;
    padding: 2rem 0;
}

/* new  stuff here */
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 2rem;
}

.left-wrapper {
    width: 25vw;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    /* background-color:green; */
    margin-top: 1rem;
    
}

.left-boxs,
.right-boxs{
    display: flex;
    flex-direction: column;
    
}

.right-wrapper {
    width: 40vw;
    margin-top: 1rem;
    /* background-color: green; */
    box-shadow: 5px 0px 5px rgba(0,0, 0, 0.1), -5px 0px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    
}

.data-box{
    width: 10vw;
    margin: 3px 20px;
    background-color: #333;
    color: #fff;
    box-shadow: 5px 0px 5px rgba(0,0, 0, 0.1), -5px 0px 5px rgba(0, 0, 0, 0.1);
}

.number-box{
    padding: 1.5rem 0;
    text-align: center;
    font-size: 2rem;
    z-index: -1;
}
.title{
    background-color: #fff;
    color: #333;
    font-weight: 600;
    text-align: center;
    padding: 1rem 0;
    padding-bottom: 20px;
    z-index: 3;
}

.basic-info{
    box-shadow: 5px 0px 5px rgba(0,0, 0, 0.1), -5px 0px 5px rgba(0, 0, 0, 0.1);
    background-color: #333;
    margin: 1rem;
    color: #fff;
    align-items: center;
    text-align: center;
    padding: 5px;
    line-height: 2rem;
}

hr {
    border: none;
    height: 2px;
    background-color: #fff; 
    width: 90%;
    margin: auto;
}

@media only screen and (max-width: 1024px) {
    .left-wrapper {
        width: 40vw;
    }

    .data-box{
        width: 20vw;
        margin: 3px 20px;
        
    }
}

@media only screen and (max-width: 767px) {
    .container{
        flex-direction: column;
        justify-content: center;
    }

    .left-wrapper {
        width: 100vw;
    }

    .data-box{
        width: 40vw;
        margin: 3px 20px;
        
    }

    .right-wrapper {
        width: 100vw;
        height: 80vh;
    }
}

/* new stuff ends here */


footer {
    padding: 2rem 1rem;
    text-align: center;
    margin: auto;
    color:#333;
  }
  
  footer h3 {
    font-size: 3rem;
    margin-bottom: 0;
  }